/* header */
.cms-content-header .cms-content-header-filter {
    float: right;
    line-height: 40px;
    padding-right: 24px;
}
#namespace_dropdown {
	float: right;
	margin: 0 0 0 2em;
}
#Namespace {
	margin: 0;
	padding: 2px;
}
#Namespace label {
    float: none;
    margin: 0;
    display: none;
}
#translationsearch {
    float: right;
    margin: 0 0 0 2em;
}
#translationsearch input {
    padding: 2px;
    border: 1px solid #999;
    color: #666;
}
#translationsearch label {
    margin-right: 10px;
    font-size: 12px;
}

/* filter west */
#cms-content-tools-LangEditor h4 {
	margin: 1em 0 0.25em;
}
#available_languages {
	height: 80px;
	overflow: auto;
	border: 1px solid #ddd;
}
#available_modules {
	height: 230px;
	overflow: auto;
	border: 1px solid #ddd;
}
#available_languages ul li,
#available_modules ul li {
	margin: 2px 0;
	font-size: 11px;
}
#available_languages ul li a,
#available_modules ul li a {
	padding: 2px 2px 2px 8px;
	text-decoration: none;
	display: block;
}
#available_languages ul li a:hover,
#available_modules ul li a:hover {
	background: #ddd;
}
#available_languages ul li a.current,
#available_modules ul li a.current {
	background: #ccc;
}
#Form_CreateTranslationForm .field {
	float: none;
	width: 90%;
	margin: 0;
	padding: 2px 0;
}
#Form_CreateTranslationForm  .field select {
	width: 100% !important;
	float: none;
	display: block;
}
#Form_CreateTranslationForm .field label.left {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #333;
}
#Form_CreateTranslationForm .Actions {
	text-align: center;
	margin: 5px auto;
}

/* edit form */
div.entity {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 2px;
}
div.entity_label {
	float: left;
	width: 25%;
	margin-top: 3px;
}
div.entity_field {
	float: left;
	width: 70%;
}
div.entity_field input {
	width: 100%;
}
#namespaces {
	overflow: auto;
	padding: 1em;
}
#namespaces h3 {
	margin: 10px 0;
}
#namespaces h3 a {
	text-decoration: none;
	color: #666;
	font-size: 14px;
}
